<!-- views/partials/footer.ejs -->

<!--Footer-->
<footer>
    <div class="container-fluid text-center text-md-left"> </div>
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> MDBootstrap.com </a>
    </div>
</footer>
<!--/.Footer-->
